@media print {



    nav{

        display: none !important;

    }

    .col{

        display: none !important;

    }

    .sidebar-container{

        display: none !important;

    }



    .table{

        position: absolute !important;
        margin-left: -1px !important;
        margin-top: -100px;
        width: 750px !important;
        
    }

    .print{

        display: block !important;
     
    }

    img{
        position: relative !important;
        max-width: 100% !important;

    }

    .td-table{

        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        
    
      
      }

    .noprint{

        display: none !important;

    }


    #tblInfUnico h3{
        color:#00995D;
        margin-top: -50px;
        margin-left: 10px;
        max-width: 700px;
      }
      
      #tblInfUnico p{
        color:#F47920;
        float: left;
        margin-top: -50px;
        margin-left: 50px;
        max-width: 700px;
      }
      
      #tblInfUnico #texto{
        color:#000000;
        margin-left: 50px !important;
        margin-top: 20px;
        max-width: 700px;
      }
      
      
      #tblInfUnico #img{
        margin-left: 50px !important;
        max-width: 700px !important;
      }
      
      .visContato{

        margin-top: -50px !important;
        margin-left: 0px !important;
       
    

      }

      .visContato td, th{

        font-size: 10px;
        padding: 0% !important;
   
      
      }

      .visContatoNome{
        width: 45px !important;
      }

      .visContatoSetor{
        width: 18px !important;
      }

      .visContatoTelefone{
        width: 10px !important;
      }

      .visContatoNasc{
        width: 9px !important;
      }

      .visContatoEmail{
        width: 30px !important;
      }

}
